body {
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container{
    width: 65%;
    margin: 0 auto;
    height:100%;
    min-height: 100%;
}

.nav-list {
  padding: 10px 0;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

header, footer{
    background-color: #B0C4DE;
    height: 5rem;
    display: flex;
}
#footer{
    position: fixed;
    bottom: 0;
}
