{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'diary:diary_list' %}">Diary List</a></li>
        {% endif %}
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        <li><a href="{% url 'account_login' %}">Log In</a></li>
        {% endif %}

    </ul>
</header>
</body>
</body>
</html>