{% extends 'base.html' %}
{% load static %}

{% block title %}日記編集{% endblock %}

{% block active_diary_list %}active{% endblock%}
{% block contents %}
{% if user.is_authenticated %}
    {% if user.id == object.user.id %}
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                {{ form.media }}
                {{ form.as_table }}
                </table>
                <button type="submit">更新</button>
                <button onclick="location.href='{% url 'diary:diary_detail' object.pk %}'">キャンセル</button>

        <!--        <a href="{% url 'diary:diary_detail' object.pk %}">キャンセル</a>-->
            </form>
        </div>
    {% else %}
    <h1>権限がありません！</h1>
    {% endif %}
{% else %}
<h1>権限がありません！</h1>
{% endif %}
{% endblock %}